.container {
  margin: 50px auto 5px;
  padding-bottom: 5px;
  background-color: black;
  width: 800px;
  height: auto;
  text-align: center;
}

#title {
  color: white;
  font-size: 100px;
}

.one {
  color: white;
  font-size: 80px;
}

.two {
  color: rgb(255, 255, 255);
  font-size: 80px;
}
.three {
  color: rgb(255, 255, 255);
  font-size: 80px;
}
.four {
  color:white;
  font-size: 80px;
}
.five {
  color: white;
  font-size: 80px;
}